<slideshow 
[slides]="slides | async"
[width]="900"
[height]="550"
[controls]=""
[transition]=""
[controls-type]="4"
[controls-autohide]=""
[autoplay]=""
></slideshow>


<!-- Accepted Inputs -->

<!-- 
  [slides] (string[]) accepts an array of images

  [width] (number) sets the container width. Default value is 400(px)

  [height] (number) sets the container height. Default value is 180(px)

  [transition] (string) indicates de transition type {'strip', 'fade', 'cards'}. Default is 'strip'

  [counter] (boolean) shows count and current slide position. Default is true

  [controls] (boolean) shows navigation controls. Default is true

  [controls-type] (number) set the controls style: round, slim, square. Default is 0

  [controls-autohide] (boolean) enables controls autohide. Defualt is false;
    Will not work in controls-type is set to 4

  [autoplay] (boolean | { timeout: number }) autoplays the slideshow if set to true. Can use an object to spacify the slide change timeout

-->