@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 1.5rem 1rem 0;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
}

.controls-autohide {
  transform: translateY(100%);
}

.controls button {
  flex-shrink: 0;
  margin-bottom: 1rem;
  color: #fff;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.4s ease;
}

.controls button:not(:last-of-type) {
  margin-right: 0.5rem;
}

.controls button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.active-btn {
  background-color: rgba(255, 255, 255, 0.9) !important;
  transition: background-color 0.4s ease;
}


/**** Different Control Styles ****/

.round-controls button {
  width: 10px;  
  height: 10px;
  border-radius: 50%;
}

.slim-controls button {
  width: 20px;
  height: 5px;
  border-radius: 5px;
}

.square-controls button {
  width: 10px;
  height: 10px;
  border-radius: 2px;
}


.nav-btns-wrapper {
  position: absolute;
  width: 100%;
  height: auto;
  background: #111;
  overflow: hidden;
}

.nav-btns button {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 100%;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.nav-btns button:disabled {
  visibility: hidden;
  opacity: 0;
}

.nav-btns button:first-of-type {
  left: 0;
  background-image: linear-gradient(90deg, #111 40%, transparent);
}

.nav-btns button:last-of-type {
  right: 0;
  background-image: linear-gradient(90deg, transparent, #111 60%);
}

.nav-btns button .material-icons {
  color: rgba(255, 255, 255, 0.7);
  font-size: 2rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-btns button:hover .material-icons {
  color: #fff;
}

.nav-btns button:first-of-type:hover .material-icons {
  transform: translateX(-2px);
}

.nav-btns button:last-of-type:hover .material-icons {
  transform: translateX(2px);
}

.preview-controls {
  width: 100%;
  height: auto;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

.preview-controls::-webkit-scrollbar { 
  display: none;
}

.preview-strip {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0.3rem;
  transition: transform 0.6s ease;
}

.preview-strip-alt {
  width: fit-content;
}

.preview-controls button {
  flex-shrink: 0;
  position: relative;
  width: 150px;
  height: 100px;
  transition: filter 0.4s ease;
}

.preview-controls button:not(:last-of-type) {
  margin-right: 0.3rem;
}

.preview-controls button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  transition: filter 0.3s ease, transform 0.3s ease-in-out;
}

.preview-controls .focused img {
  filter: brightness(50%);
  transform: scale(1.4, 1.4);
}

.preview-controls button:hover:not(.active-btn) {
  filter: brightness(50%);
}

#indicator {
  display: block;
  position: absolute; 
  top: 0;
  left: 0;
  width: 159.6px;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  transition: transform 0.5s ease;
}
