.nav-btns-wrapper {
  position: absolute;
  width: 100%;
  height: auto;
  background: #111;
  overflow: hidden;
}

.nav-btns button {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 100%;
  z-index: 1;
}

.nav-btns button:first-of-type {
  left: 0;
  background-image: linear-gradient(90deg, #111 40%, transparent);
}

.nav-btns button:last-of-type {
  right: 0;
  background-image: linear-gradient(90deg, transparent, #111 60%);
}

.nav-btns button .material-icons {
  color: #ddd;
  font-size: 1.3rem;
  transition: color 0.3s ease-in-out;
}

.nav-btns button:hover .material-icons {
  color: #fff;
}


.thumbnails-controls {
  width: 100%;
  height: auto;
  padding: 1rem;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.thumbnails-controls::-webkit-scrollbar { 
  display: none;
}

.thumbnail-strip {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  transition: transform 0.6s ease;
}

.thumbnails-controls button {
  flex-shrink: 0;
  position: relative;
  width: 150px;
  height: 100px;
  transition: filter 0.4s ease;
}

.thumbnails-controls button:not(:last-of-type) {
  margin-right: 1.5rem;
}

.thumbnails-controls button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  transition: filter 0.3s ease, transform 2s ease;
}

.thumbnails-controls button.active-btn {
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.7);
}

.thumbnails-controls button.active-btn img {
  filter: brightness(30%);
}

.thumbnails-controls button:hover:not(.active-btn) {
  filter: brightness(50%);
}

.thumbnails-controls button:hover:not(.active-btn) img {
  transform: scale(1.2, 1.2);
}
