<div 
  #offsetContainer
  *ngIf="slides?.length" 
  class="offset-container"
  [class.alternate]="controlsType != 4">
  <div 
    (mouseover)="controlsVisibility(true)"
    (mouseleave)="controlsVisibility(false)"
    class="main-container">
    <span 
      *ngIf="showCounter"
      class="slide-counter">
      {{ slidesCount }}
    </span>
    <div 
      #slidesStrip
      class="slides-strip"
      [class]="{
        'strip-fade': transition == 'fade',
        'strip-blackout': transition == 'blackout',
        'strip-cards': transition == 'cards'
      }">
      <div 
        *ngFor="let slide of slides; index as index"
        class="slide"
        [class]="{
          'slide-fade': transition == 'fade',
          'slide-blackout': transition == 'blackout',
          'slide-cards': transition == 'cards'
        }">
        <img image-loader [src]="slide">
      </div>
    </div>
  </div>

  <slideshow-controls></slideshow-controls>
</div>
