.offset-container {
  position: relative;
  height: auto;
  margin: auto;
  user-select: none;

}

.alternate {
  overflow: hidden;
}

.main-container {
  position: relative;
  width: auto;
  height: inherit;
  overflow: hidden !important;
}

.slide-counter {
  display: block;
  position: absolute;
  color: rgba(255, 255, 255, 0.8);
  width: 100px;
  padding: 0.7rem 1rem;
  z-index: 2;
}

.slides-strip {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  height: 100%;
  width: fit-content;
  background-color: #333;
  transition: transform 0.7s ease;
  overflow: hidden;
  z-index: -1;
}

.slide {
  flex-shrink: 0;
  width: auto;
  height: 100%; 
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}


/***** Fade Transition *****/
@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.strip-fade {
  display: block;
  width: 100%;
}

.slide-fade {
  position: absolute;
}

.slide-fade:not(:first-of-type) {
  z-index: -1;
}

.active-slide {
  animation: fadeOut 1s ease forwards;
}



/***** Blackout Transition *****/
@keyframes blackout {
  from { visibility: hidden; opacity: 0; }
  to   { visibility: visible; opacity: 1; }
}

.strip-blackout {
  display: block;
  width: 100%;
}

.slide-blackout {
  position: absolute;
}

.slide-blackout:not(:first-of-type) {
  visibility: hidden;
}

.visible-slide {
  animation: blackout 3s ease forwards;
}



/***** Cards Transition *****/
@keyframes slideInRight {
  from { 
    box-shadow: none;    
    transform: scale(0.8, 0.8) translateX(100%);
  }
  to {
    box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.5);     
    transform: scale(1, 1) translateX(0);
  }
}

@keyframes slideInLeft {
  from { 
    box-shadow: none;
    transform: scale(0.8, 0.8) translateX(-100%);
  }
  to { 
    box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.5);
    transform: scale(1, 1) translateX(0);
  }
}

.strip-cards {
  display: block;
  width: 100%;
}

.slide-cards {
  position: absolute;
}

.slide-cards:not(:first-of-type) {
  z-index: -1;
}

.active-next {
  animation: slideInRight 0.4s ease forwards;
}

.active-before {
  animation: slideInLeft 0.4s ease forwards;
}